//VARS
$gray: #E5E5E5;
$blue: #1390E5;
$lightgray: #FAFAFA;

//FONTS
@font-face {
  font-family: 'RB';
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'RM';
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: 'RR';
  src: url(../fonts/Roboto-Regular.ttf);
}
//STYLES

::-webkit-scrollbar {
  display: none;
}

#app {
  background-color: $lightgray;
  height: 100%;
}

button,
input,
select,
textarea {
        font-family: RM;
    }

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
