<template>
  <form class="login" @submit.prevent="login">
    <el-card class="login__container" >
      <img class="login__logo" src="../assets/img/Search result/sibdev-logo.svg" alt="Logo">
      <h1 class="login__title">Вход</h1>
      <div class="login__input">
        <h2 class="login__input-title">Логин</h2>
        <el-input class="login__input--form" v-model="username"></el-input>
      </div>
      <div class="login__input">
        <h2 class="login__input-title">Пароль</h2>
        <el-input class="login__input--form" type="password" v-model="password"></el-input>
      </div>
      <div class="login__btn-box">
        <button type="submit" size="medium" class="login__btn">Войти</button>
      </div>
    </el-card>
  </form>
</template>

<script>
// import axios from 'axios'
// import { mapMutations } from 'vuex'
export default {
  name: 'Auth',
  data: () => {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    login: function () {
      const username = this.username
      const password = this.password
      this.$store.dispatch('login', { username, password })
        .then(() => this.$router.push('/search'))
        .catch(err => console.log(err))
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  background-color: $lightgray;
  position:absolute;
  width: 100%;
  height: 100%;
  &__container {
    outline: none;
    font-family: RR;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 510px;
    height: 520px;
    margin-top: 13%;
  }
  &__logo {
    width: 100%;
    height: 88px;
  }
  &__input {
    max-width: 334px;
    max-height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    &--form {
      font-family: RR;
    }
    &-title {
      color: rgba(23, 23, 25, 0.3);
      max-width: 117px;
      max-height: 22px;
      font-size: 16px;
      margin-bottom: 5px;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    margin: 20px 0 15px 0;
  }
  &__btn {
    width: 117px;
    height: 52px;
    margin-left: 176.5px;
    &-box {
      width: 100%;
      margin: 30px 0 50px 0;
    }
  }
}
</style>
