<template>
  <div>
    <Header/>
    <div class="main">
      <div class="main__container">
          <h1 class="main__title">Избранное</h1>
              <!-- <el-table>
                <el-table-column></el-table-column>
              </el-table> -->
      </div>
    </div>
  </div>

</template>

<script>
import Header from '../views/Header.vue'
export default {
  name: 'Favorites',
  components: {
    Header
  }
}
</script>

<style lang="scss">
  .main{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: $lightgray;
    &__container {
      outline: none;
      font-family: RR;
      display: flex;
      flex-direction: column;
      max-width: 1040px;
      min-height: 100%;
      margin: auto;
      justify-content: center;
    }
    &__title {
        text-align: left;
        margin-bottom: 40px;
        font-weight: 400;
    }
  }
</style>
