<template>
  <el-menu class="header" mode="horizontal">
      <div class="header__container">
        <div class="header__container--left">
          <img src="../assets/img/Search result/sibdev-logo.svg" alt="Logo">
          <router-link to="/search">
            <el-menu-item class="header__title-block" index="1">Поиск</el-menu-item>
          </router-link>
          <router-link to="/favorites">
            <el-menu-item class="header__title-block" index="2">Избранное</el-menu-item>
          </router-link>
        </div>
        <el-menu-item v-if="isLoggedIn" @click="logout" class="header__title-block" index="3">Выйти</el-menu-item>
      </div>
    </el-menu>
</template>

<script>
export default {
  computed: {
    isLoggedIn: function () {
      return this.$store.getters.isLoggedIn
    }
  },
  methods: {
    logout: function () {
      this.$store.dispatch('logout')
        .then(() => {
          this.$router.push('/login')
        })
    },
    created: function () {
      this.$http.interceptors.response.use(undefined, function (err) {
        return new Promise(function (resolve, reject) {
          if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
            this.$store.dispatch('logout')
          }
          throw err
        })
      })
    }
  }
}
</script>

<style lang="scss">
  .header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 56px;
    &__title-block {
      max-width: 133px;
      max-height: 80px;
      border-bottom: 2px solid $blue;
      color: $blue;
    }
    &__container {
      outline: none;
      font-family: RR;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 1040px;
      max-height: 80px;
      margin: auto;
      &--left {
        display: flex;
        flex-direction: row;
      }
    }
  }
</style>
