<template>
  <div class="searchform">
    <h1 class="searchform__title">Поиск видео</h1>
    <div class="searchform__input">
      <el-input  @keydown.13.prevent="parseSearchString" v-model="searchString" placeholder="Что хотите посмотреть?"></el-input>
      <el-button @click="parseSearchString" type="primary">Найти</el-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchForm',
  data () {
    return {
      searchString: ''
    }
  },
  methods: {
    parseSearchString () {
      const trimmedSearchString = this.searchString.trim()
      if (trimmedSearchString !== '') {
        const searchParams = trimmedSearchString.split(/\s+/)
        this.$emit('search', searchParams)
        this.searchString = ''
      }
    }
  }
}
</script>

<style lang="scss">
.searchform {
  display: flex;
  flex-direction: column;
  background-color: $lightgray;
  font-family: RR;
  margin-top: 56px;
  &__title {
      text-align: center;
      margin-bottom: 20px;
      padding-top: 20px;
      font-weight: 400;
    }
    &__input {
      display: flex;
      flex-direction: row;
      width: 1040px;
      max-height: 52px;
      margin: 0 auto 0 auto;
    }
}
</style>
