<template>
  <div class="main">
      <div class="main__container">
        <div class="main__filter-panel">
          <div class="main__filter-panel--left">
            Видео по запросу "{{ reformattedSearchString }}"
          </div>
          <div class="main__filter-panel--right">
            <button
              @click="changeDisplayMode('grid')"
              type="button"
              class="btn btn-outline-secondary"
              v-bind:class="{ active: displayMode === 'grid' }"
            >
              <img class="main__filter-panel--icon" src="../assets/img/Search result/grid.svg" alt="Grid">
            </button>
            <button
              @click="changeDisplayMode('list')"
              type="button"
              class="btn btn-outline-secondary"
              v-bind:class="{ active: displayMode === 'list' }"
            >
              <img class="main__filter-panel--icon" src="../assets/img/Search result/list.svg" alt="List">
            </button>
          </div>
        </div>

        <div class="main__content-grid" v-if="displayMode === 'grid'">
          <div class="main__content-grid__block" v-bind:key="video.id.videoId" v-for="video in videos">
            <VideoGridItem v-bind:video="video"/>
          </div>
        </div>
        <div v-else>
          <div class="main__content-list" v-bind:key="video.id.videoId" v-for="video in videos">
            <VideoListItem v-bind:video="video"/>
          </div>
        </div>
      </div>

    </div>
</template>

<script>
import VideoGridItem from './VideoGridItem'
import VideoListItem from './VideoListItem'
export default {
  name: 'SearchResults',
  components: {
    VideoGridItem,
    VideoListItem
  },
  data () {
    return {
      title: 'Видео по запросу',
      displayMode: 'grid'
    }
  },
  methods: {
    changeDisplayMode (displayMode) {
      this.displayMode = displayMode
    }
  },
  props: [
    'videos',
    'reformattedSearchString'
  ]
}
</script>

<style lang="scss">
.main{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: $lightgray;
    &__container {
      outline: none;
      font-family: RR;
      display: flex;
      flex-direction: column;
      max-width: 1040px;
      min-height: 100%;
      margin: auto;
      justify-content: center;
    }
    &__content-grid {
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(4, 25%);
      /* grid-gap: 20px; */
      margin-top: 25px;
      /* height: 300px; */
      justify-items: center;
      &__block {
        display: flex;
        flex-direction: column;
        max-width: 245px;
        height: 226px
      }
    }
    &__filter-panel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 1040px;
      max-height: 24px;
      margin-top: 40px;
      &--icon:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
</style>
