<template>
  <div class="main">
    <Header/>
    <SearchForm v-on:search="search"/>
    <SearchResults v-if="videos.length > 0"
    v-bind:videos="videos"
    v-bind:reformattedSearchString="reformattedSearchString"/>
  </div>
</template>

<script>
import Header from '../views/Header'
import SearchForm from '../views/SearchForm'
import SearchResults from '../views/SearchResults'
import axios from 'axios'

export default {
  name: 'app',
  components: {
    Header,
    SearchForm,
    SearchResults
  },
  data () {
    return {
      videos: [],
      reformattedSearchString: '',
      api: {
        baseUrl: 'https://www.googleapis.com/youtube/v3/search?',
        part: 'snippet',
        type: 'video',
        order: 'viewCount',
        maxResults: 12,
        q: '',
        key: 'AIzaSyC_89IIa0tENEQ0PfZciZFMJTbyZdJXJJE'
      }
    }
  },
  methods: {
    search (searchParams) {
      this.reformattedSearchString = searchParams.join(' ')
      this.api.q = searchParams.join('+')
      const { baseUrl, part, type, order, maxResults, q, key } = this.api
      const apiUrl = `${baseUrl}part=${part}&type=${type}&order=${order}&q=${q}&maxResults=${maxResults}&key=${key}`
      this.getData(apiUrl)
    },
    getData (apiUrl) {
      axios
        .get(apiUrl)
        .then(res => {
          this.videos = res.data.items
        })
        .catch(error => console.log(error))
    }
  }
}
</script>

<style lang="scss">
  .main{
    /* position: relative; */
    width: 100%;
    height: 100%;
    background-color: $lightgray;
  }
</style>
