<template>
  <div class="main__content-list">

    <div class="main__content-list-block">

      <a :href="'https://www.youtube.com/watch?v=' + video.id.videoId" target="_blank">
        <img :src="video.snippet.thumbnails.medium.url" alt="YouTube thumbnail">
      </a>

      <h5 class="main__list-title">{{ video.snippet.title }}</h5>
      <p class="main__list-description">{{ video.snippet.description }}</p>

    </div>

  </div>
</template>

<script>
export default {
  name: 'VideoListItem',
  props: ['video']
}
</script>
