<template>
  <div class="grid-content">

    <div class="grid-content__block">

      <a :href="'https://www.youtube.com/watch?v=' + video.id.videoId" target="_blank">
        <img class="grid-image" :src="video.snippet.thumbnails.medium.url" alt="YouTube thumbnail">
      </a>

      <h5 class="grid-content-title">{{ video.snippet.title }}</h5>
      <p class="grid-content-description">{{ video.snippet.description }}</p>

    </div>

  </div>
</template>

<script>
export default {
  name: 'VideoGridItem',
  props: ['video']
}
</script>

<style lang="scss">
  .grid-image {
    max-width: 245px;
    max-height: 138px;
  }
  .grid{
    &-content {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 1fr);

      &__block {
        display: flex;
        flex-direction: column;
        max-height: 226px;
      }
      &-description {
      color: rgba(23, 23, 25, 0.3);
      font-weight: 400;
      margin-top: 8px;
      max-height: 32px;
      font-size: 14px;
      overflow: hidden;
      margin-bottom: 0;
    }
    &-title {
      font-size: 14px;
      font-weight: bold;
      color: black;
      margin-top: 8px;
      line-clamp: 2;

      margin-bottom: 0;
    }
    }

  }
</style>
